@charset "UTF-8";

.ranks_btn a{
    display: block;
    width: fit-content;
    margin: 0 auto;
    background: #B9E229;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

.ranks_btn a:hover{
    opacity: 0.7;
}
a.btn_01 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	transition: 0.5s;
}
a.btn_01:hover {
	color: #fff;
	background: #27acd9;
}
a.btn_02 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	transition: 0.5s;
}
a.btn_02:hover {
	color: #27acd9;
	background: #fff;
}

select.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000000' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
	font-size: 12px;
}

/* .table th, .table td {
	font-size: 12px;
} */
/* .select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--multiple .select2-selection__rendered {
    font-size: 12px;
} */