
/* .table-wrap {
    overflow-x: scroll;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
  }
  .table th,
  .table td {
    border: 2px solid #eee;
    padding: 4px 8px;
  } */
  @charset "utf-8";
  .table_wrap{
    overflow: auto;
    max-height: 400px;
  }
  .table_wrap table{
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 0;
  }